@import "../../global.scss";

.summary {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);

  .summary-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg);
  }
}
