@import "../../global.scss";

.quote-summary {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);

  .summary-wrapper {
    position: relative;
    max-width: 1000px;
    margin: 20px;
    width: 100%;
    height: 500px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--bg);

    .cancel-btn {
      color: var(--color-orange);
      cursor: pointer;
      font-size: 30px;
      padding: 20px;
      background-color: rgba(255, 166, 0, 0.534);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      position: absolute;
      top: 10px;
      right: 10px;
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.02);
        background-color: var(--color-orange);
        color: var(--color-white);
      }
    }

    .summary-items {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .summary-item {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 5px 0;

        .si-value {
          color: var(--color-light);
        }
      }
    }
  }
}
