@import "../../global.scss";

.packages {
  height: max-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;

  h1 {
    text-align: center;
    background: linear-gradient(
      to right,
      var(--color-primary),
      var(--color-orange)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .package-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow: hidden;

    @include mobile {
      flex-wrap: unset;
      overflow-x: auto;
    }
  }
}
