@import "../../global.scss";

.menu {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: scroll;

  .container {
    position: relative;
    background-color: var(--bg-dark);
    color: var(--color);
    display: flex;
    flex-direction: column;
    width: 80%;
    min-height: 100%;
    float: right;
    transition: all 1s ease-in;

    .switcher {
      margin: 20px;
      width: max-content;
    }

    .menuItems {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      padding: 16px;

      .item {
        display: flex;
        flex-direction: column;

        .itemTitle {
          display: flex;
          align-items: center;
          gap: 4px;
          margin-bottom: 8px;
          cursor: pointer;
          padding: 6px;
          width: max-content;
          transition: all 0, 3s ease;

          &:hover {
            color: var(--color-orange);
          }

          span {
            font-weight: bold;
          }

          .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            cursor: pointer;
            color: var(--color-orange);
            font-weight: 700;
          }
        }

        .title {
          margin-left: 20px;
          padding: 10px;
          font-size: 14px;
          font-weight: 400;
          border-left: 2px solid var(--color);
          color: rgb(168, 168, 168);

          &:hover {
            color: var(--color-orange);
          }
        }

        .team {
          display: flex;
          flex-wrap: wrap;
          gap: 8px;
          width: 100%;

          .teamItem {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 4px;
            width: 30%;
            cursor: pointer;

            img {
              width: 36px;
              height: 36px;
              border-radius: 50%;
              object-fit: cover;
            }

            .teamContainer {
              display: flex;
              flex-direction: column;
              gap: 4px;

              .name {
                font-size: 13px;
                font-weight: bold;
              }

              .position {
                color: gray;
                font-size: 12px;
                font-weight: 400;
              }
            }
          }
        }

        .name {
          font-weight: bold;
          font-size: 17px;
          margin-top: 10px;
        }
      }
    }

    .quoteBtn {
      padding: 0;
      display: flex;
      align-items: center;
      border: none;
      cursor: pointer;
      border-radius: 8px;
      font-size: 18px;
      font-weight: 500;
      height: 42px;
      overflow: hidden;
      color: var(--color-white);
      width: max-content;
      position: absolute;
      bottom: 20px;
      left: 20px;

      .text {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-orange);
        padding: 10px;
        height: 100%;
        transition: all 0.8s ease;
      }

      .arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-primary);
        padding: 10px;
        height: 100%;
        transition: all 0.8s ease;
        animation: blink 1s infinite;
      }

      @keyframes blink {
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }

      &:hover .text {
        background-color: var(--color-primary);
      }

      &:hover .arrow {
        background-color: var(--color-orange);
      }
    }
  }
}
