@import "../../global.scss";

.menu {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: scroll;

  .container {
    position: relative;
    background-color: $primaryColor;
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    float: right;
    transition: all 1s ease-in;

    .top {
      display: flex;
      align-items: center;
      gap: 5px;
      background-color: teal;
      width: 100%;
      padding: 20px;
      position: sticky;
      top: 0;
      right: 0;
      cursor: pointer;

      .homeIcon {
        font-size: 20px;
        cursor: pointer;
      }
    }

    .menuItems {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
      padding: 20px;

      .item {
        display: flex;
        flex-direction: column;

        .itemTitle {
          display: flex;
          align-items: center;
          gap: 4px;
          margin-bottom: 8px;

          span {
            font-weight: bold;
          }

          .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            cursor: pointer;
            border-radius: 50%;
            background-color: gray;
            font-weight: bold;
          }
        }

        .title {
          margin-left: 20px;
          padding: 10px;
          font-size: 16px;
          border-left: 2px solid teal;
          color: rgb(168, 168, 168);

          &:hover {
            color: green;
            // background-color: rgb(189, 189, 189);
            // border-radius: 6px;
            // border-left: 3px solid green;
            color: white;
          }
        }

        .team {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          width: 100%;

          .teamItem {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 4px;
            width: 30%;
            cursor: pointer;

            img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              object-fit: cover;
            }

            .teamContainer {
              display: flex;
              flex-direction: column;
              gap: 4px;

              .name {
                font-size: 13px;
                font-weight: bold;
              }

              .position {
                color: gray;
                font-size: 12px;
              }
            }
          }
        }

        .name {
          font-weight: bold;
          font-size: 17px;
          margin-top: 10px;
        }
      }
    }

    .quoteBtn {
      padding: 0;
      display: flex;
      align-items: center;
      // justify-content: space-between;
      border: none;
      cursor: pointer;
      border-radius: 8px;
      font-size: 18px;
      font-weight: 500;
      height: 42px;
      overflow: hidden;
      color: white;
      width: max-content;
      position: absolute;
      bottom: 20px;
      left: 20px;

      //   @include tablet900 {
      //     height: 36px;
      //   }

      //   @include mobile {
      //     // height: 30px;
      //     font-size: 18px;
      //   }

      .text {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(255, 148, 21);
        padding: 10px;
        height: 100%;
        transition: all 0.8s ease;

        // @include mobile {
        //   padding: 8px;
        // }
      }

      .arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: teal;
        padding: 10px;
        height: 100%;
        transition: all 0.8s ease;
      }

      &:hover .text {
        background-color: teal;
      }

      &:hover .arrow {
        background-color: rgb(255, 148, 21);
      }
    }
  }
}
