.chatItem {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(224, 224, 224);
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease;
  gap: 10px;

  &:hover {
    background-color: teal;
    color: white;
    transform: scale(1.01);
  }

  .l {
    display: flex;
    align-items: center;
    gap: 10px;

    .left {
      position: relative;

      .online {
        position: absolute;
        top: 2px;
        left: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background-color: green;
      }

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .middle {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 3px;

      .name {
        font-weight: bold;
      }

      .lastMessage {
        font-size: 14px;
      }
    }
  }

  .right {
    font-size: 12px;
    font-weight: bold;
  }
}
