.chatList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;

  .noFound {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 24px;
  }
}
