@import "../../global.scss";

.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  background-color: $bgPrimary;
  color: $textLight;

  @include tablet900 {
    padding: 20px;
  }

  @include mobile {
    padding: 20px 10px 20px 10px;
  }

  .logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 2px;
    overflow: hidden;
    background-color: transparent;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    border: 3px solid teal;

    img {
      object-fit: cover;
      font-weight: bold;
      font-size: 100px;
      height: 100%;
      width: 100%;
      border-radius: 50%;
    }
    // h2 {
    //   cursor: pointer;

    //   &:hover {
    //     color: teal;
    //   }
    // }
  }

  .links {
    display: flex;
    align-items: center;
    gap: 20px;

    @include tablet1000 {
      gap: 8px;
    }

    @include tablet900 {
      display: none;
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 20px;

    .rightContainer {
      display: flex;
      align-items: center;
      gap: 20px;

      @include mobile {
        display: none;
      }

      .quoteBtn {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: none;
        cursor: pointer;
        border-radius: 8px;
        font-size: 18px;
        font-weight: 500;
        height: 42px;
        overflow: hidden;
        color: $textLight;

        @include tablet900 {
          height: 36px;
        }

        @include mobile {
          font-size: 18px;
        }

        .text {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: rgb(255, 148, 21);
          padding: 10px;
          height: 100%;
          transition: all 0.8s ease;

          @include mobile {
            padding: 8px;
          }
        }

        .arrow {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: teal;
          padding: 10px;
          height: 100%;
          transition: all 0.8s ease;
          animation: blink 1s infinite;

          @include mobile {
            display: none;
          }
        }

        @keyframes blink {
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }

        &:hover .text {
          background-color: teal;
        }

        &:hover .arrow {
          background-color: rgb(255, 148, 21);
        }
      }
    }

    .hamburger,
    .cancel {
      display: none;
      font-size: 24px;
      cursor: pointer;
      z-index: 5;
      color: white;

      @include mobile {
        font-size: 30px;
      }

      @include tablet900 {
        display: flex;
      }
    }

    .authenticated {
      display: flex;
      align-items: center;
      gap: 10px;

      .dropdown {
        display: flex;
        align-items: center;
        // gap: 2px;
        cursor: pointer;

        img {
          width: 30px;
          height: 30px;
          object-fit: cover;
          border-radius: 50%;
        }

        .caret {
          font-size: 20px;
        }
      }

      .notification {
        position: relative;
        cursor: pointer;

        .icon {
          font-size: 20px;
        }

        .count {
          position: absolute;
          top: -10px;
          left: 10px;
          background-color: rgb(255, 148, 21);
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 14px;
          height: 14px;
          border-radius: 50%;
          font-size: 12px;
        }
      }
    }

    .authBtn {
      cursor: pointer;
      border: none;
      padding: 10px;
      background-color: teal;
      color: white;
      border-radius: 5px;
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.02);
      }
    }

    .logoutBtn {
      cursor: pointer;
      border: none;
      padding: 5px;
      background-color: crimson;
      color: white;
    }
  }

  .dropdownMenu {
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #2e475d;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    color: $textLight;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 200px;

    .group {
      display: flex;
      align-items: center;
      gap: 20px;
      border-bottom: 1px solid teal;
      padding: 6px;
      cursor: pointer;

      &:hover {
        background-color: teal;
      }
    }

    &:hover .logoutBtn {
      background-color: crimson;
    }
  }
}
