@import "../../global.scss";

.chatBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  overflow-y: auto;

  .chatBoxItem {
    display: flex;
    gap: 10px;
    max-width: 300px;

    .left {
      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      gap: 10px;
      max-width: 300px;
      background-color: rgb(186, 186, 186);
      padding: 10px;
      border-radius: 0 20px 20px 20px;

      .text {
      }

      img {
        width: 98%;
        object-fit: cover;
        border-radius: 6px;
      }

      .time {
        align-self: flex-end;
        font-size: 12px;
        font-weight: bold;
      }
    }

    &.current {
      align-self: flex-end;
    }

    &.current .right {
      background-color: teal;
      color: white;
      border-radius: 20px 0 20px 20px;
    }

    &.current .right .time {
      color: rgb(191, 191, 191);
    }
  }

  .noMessages {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    opacity: 0.6;
    font-size: 24px;
    text-align: center;
  }
}
