@import "../../global.scss";
.home {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  margin-top: 80px;

  .welcome {
    @include mobile {
      padding: 20px;
    }

    .heading {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      h1 {
        font-size: 50px;
        font-weight: bold;
        background: linear-gradient(
          to right,
          var(--color-teal),
          var(--color-orange)
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @include tablet {
          width: 100%;
          font-size: 40px;
        }
      }
    }

    .desc {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: justify;

      p {
        font-size: 18px;
        line-height: 1.6;

        @include tablet {
          width: 100%;
        }
      }
    }

    @keyframes move {
      from {
        transform: translateY(-10px);
      }
      to {
        transform: translateY(10px);
      }
    }
  }
}
