@import "../../global.scss";

.footer {
  height: 100vh;
  background-color: $primaryColor;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .usefullinks {
    padding: 20px 50px;
  }

  .socials {
    background-color: black;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablet900 {
      padding: 20px;
    }

    @include mobile {
      flex-direction: column;
      gap: 20px;
    }

    .privacy {
      @include mobile {
        text-align: center;
      }
    }

    .sociallinks {
      display: flex;
      align-items: center;
      gap: 20px;

      @include mobile {
        gap: 30px;
      }
    }
  }
}
