$fgColor: #99b9c4;
$bgPrimary: #002743;
$bgLight: #fff;
$bgDark: #000;
$textDark: #333;
$textLight: #fff;
$orangeColor: orangered;
$tealColor: teal;
$crimsonColor: crimson;
$borderColor: #ddd;

@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin tablet1000 {
  @media (max-width: 1100px) {
    @content;
  }
}
@mixin tablet900 {
  @media (max-width: 900px) {
    @content;
  }
}
