$myFont: Helvetica, sans-serif;
$primaryColor: #002743;
$myFontSize: 18px;
$myWidth: 680px;

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin tablet1000 {
  @media (max-width: 1000px) {
    @content;
  }
}
@mixin tablet900 {
  @media (max-width: 900px) {
    @content;
  }
}
