@import "../../global.scss";

.theme-switcher {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: var(--bg);
  padding: 5px;
  border-radius: 30px;

  .theme-icon {
    font-size: 18px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;

    &.active,
    &:hover {
      background-color: var(--bg-dark);
      // color: var(--color-secondary);
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
