@import "../../global.scss";

.services {
  min-height: calc(100vh - 50px);
  width: 100%;
  margin-top: 40px;
  line-height: 1.7;

  // background: url("/assets/servicebg3.jpg") center;
  // background-size: cover;
  // background-position-x: 100%;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    color: $textDark;
    padding: 50px;

    @include tablet {
      padding: 50px 20px 20px 20px;
    }

    h1 {
      margin-bottom: 20px;
    }

    p {
      span {
        font-size: 24px;
        font-weight: bold;
        color: $tealColor;
      }

      .visit {
        border-bottom: 2px solid $tealColor;
        color: $bgPrimary;
        font-weight: bold;
      }
    }
  }
}
