@import "../../global.scss";

.link {
  cursor: pointer;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.3s ease;

  @include tablet1000 {
    font-size: 18px;
  }

  &:hover {
    background-color: teal;
  }

  &.active {
    background-color: teal;
  }
}
